/*
    Document   : newCascadeStyleSheet
    Created on : Mar 4, 2010, 12:01:51 AM
    Author     : Kannan
    Description:

*/

.icon-save {
	background-image: url('icons/icon-save.png');
}

.icon-clear {
	background-image: url('icons/icon-clear.png');
}

.icon-add-members {
	background-image: url('icons/icon-add-members.png');
}

.icon-update {
	background-image: url('icons/icon-update.png');
}
.icon-add {
	background-image: url('icons/icon-add.png');
}
.icon-delete {
	background-image: url('icons/icon-delete.png');
}
.icon-refresh {
	background-image: url('icons/icon-refresh.png');
}
.icon-add-member {
	background-image: url('icons/icon-add-member.png');
}
.icon-delete-member {
	background-image: url('icons/icon-delete-member.png');
}
.icon-family {
	background-image: url('icons/icon-family.png');
}
.icon-settings {
	background-image: url('icons/icon-settings.png');
}
.icon-notes {
	background-image: url('icons/icon-notes.png');
}